Question 1:
--
Use Digit dataset and perform the Logistic Regression. Import the dataset from Sklearn

In [2]:
from sklearn.datasets import load_digits

In [3]:
digit = load_digits()

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
print(digit.DESCR)

.. _digits_dataset:

Optical recognition of handwritten digits dataset
--------------------------------------------------

**Data Set Characteristics:**

    :Number of Instances: 5620
    :Number of Attributes: 64
    :Attribute Information: 8x8 image of integer pixels in the range 0..16.
    :Missing Attribute Values: None
    :Creator: E. Alpaydin (alpaydin '@' boun.edu.tr)
    :Date: July; 1998

This is a copy of the test set of the UCI ML hand-written digits datasets
https://archive.ics.uci.edu/ml/datasets/Optical+Recognition+of+Handwritten+Digits

The data set contains images of hand-written digits: 10 classes where
each class refers to a digit.

Preprocessing programs made available by NIST were used to extract
normalized bitmaps of handwritten digits from a preprinted form. From a
total of 43 people, 30 contributed to the training set and different 13
to the test set. 32x32 bitmaps are divided into nonoverlapping blocks of
4x4 and the number of on pixels are counted in each block. This generates
an input matrix of 8x8 where each element is an integer in the range
0..16. This reduces dimensionality and gives invariance to small
distortions.

For info on NIST preprocessing routines, see M. D. Garris, J. L. Blue, G.
T. Candela, D. L. Dimmick, J. Geist, P. J. Grother, S. A. Janet, and C.
L. Wilson, NIST Form-Based Handprint Recognition System, NISTIR 5469,
1994.

.. topic:: References

  - C. Kaynak (1995) Methods of Combining Multiple Classifiers and Their
    Applications to Handwritten Digit Recognition, MSc Thesis, Institute of
    Graduate Studies in Science and Engineering, Bogazici University.
  - E. Alpaydin, C. Kaynak (1998) Cascading Classifiers, Kybernetika.
  - Ken Tang and Ponnuthurai N. Suganthan and Xi Yao and A. Kai Qin.
    Linear dimensionalityreduction using relevance weighted LDA. School of
    Electrical and Electronic Engineering Nanyang Technological University.
    2005.
  - Claudio Gentile. A New Approximate Maximal Margin Classification
    Algorithm. NIPS. 2000.

In [8]:
digit.feature_names

['pixel_0_0',
 'pixel_0_1',
 'pixel_0_2',
 'pixel_0_3',
 'pixel_0_4',
 'pixel_0_5',
 'pixel_0_6',
 'pixel_0_7',
 'pixel_1_0',
 'pixel_1_1',
 'pixel_1_2',
 'pixel_1_3',
 'pixel_1_4',
 'pixel_1_5',
 'pixel_1_6',
 'pixel_1_7',
 'pixel_2_0',
 'pixel_2_1',
 'pixel_2_2',
 'pixel_2_3',
 'pixel_2_4',
 'pixel_2_5',
 'pixel_2_6',
 'pixel_2_7',
 'pixel_3_0',
 'pixel_3_1',
 'pixel_3_2',
 'pixel_3_3',
 'pixel_3_4',
 'pixel_3_5',
 'pixel_3_6',
 'pixel_3_7',
 'pixel_4_0',
 'pixel_4_1',
 'pixel_4_2',
 'pixel_4_3',
 'pixel_4_4',
 'pixel_4_5',
 'pixel_4_6',
 'pixel_4_7',
 'pixel_5_0',
 'pixel_5_1',
 'pixel_5_2',
 'pixel_5_3',
 'pixel_5_4',
 'pixel_5_5',
 'pixel_5_6',
 'pixel_5_7',
 'pixel_6_0',
 'pixel_6_1',
 'pixel_6_2',
 'pixel_6_3',
 'pixel_6_4',
 'pixel_6_5',
 'pixel_6_6',
 'pixel_6_7',
 'pixel_7_0',
 'pixel_7_1',
 'pixel_7_2',
 'pixel_7_3',
 'pixel_7_4',
 'pixel_7_5',
 'pixel_7_6',
 'pixel_7_7']

In [9]:
digit.target_names

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
data = pd.DataFrame(digit.data)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [13]:
data.columns = digit.feature_names
data.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [20]:
data.describe().T

            count       mean       std  min   25%   50%   75%   max
pixel_0_0  1797.0   0.000000  0.000000  0.0   0.0   0.0   0.0   0.0
pixel_0_1  1797.0   0.303840  0.907192  0.0   0.0   0.0   0.0   8.0
pixel_0_2  1797.0   5.204786  4.754826  0.0   1.0   4.0   9.0  16.0
pixel_0_3  1797.0  11.835838  4.248842  0.0  10.0  13.0  15.0  16.0
pixel_0_4  1797.0  11.848080  4.287388  0.0  10.0  13.0  15.0  16.0
...           ...        ...       ...  ...   ...   ...   ...   ...
pixel_7_3  1797.0  12.089037  4.374694  0.0  11.0  13.0  16.0  16.0
pixel_7_4  1797.0  11.809126  4.933947  0.0  10.0  14.0  16.0  16.0
pixel_7_5  1797.0   6.764051  5.900623  0.0   0.0   6.0  12.0  16.0
pixel_7_6  1797.0   2.067891  4.090548  0.0   0.0   0.0   2.0  16.0
pixel_7_7  1797.0   0.364496  1.860122  0.0   0.0   0.0   0.0  16.0

[64 rows x 8 columns]

In [14]:
data.shape

(1797, 64)

<h3> Logistic Regression implementation</h3>

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
log_reg = LogisticRegression()
x_train,x_test,y_train,y_test = train_test_split(digit.data, digit.target,
                                                 stratify = digit.target, random_state=42,train_size = 0.7)
print('xtrain:',x_train.shape)
print('xtest:',x_test.shape)

xtrain: (1257, 64)
xtest: (540, 64)

<h3> Training the model </h3>

In [45]:
log_reg.fit(x_train,y_train)

C:\Users\VIVEK\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

<h3>Now, Performing the model prediction on the test data</h3>

In [46]:
y_pred = log_reg.predict(x_test)

In [49]:
y_test.shape

(540,)

In [50]:
pre = pd.DataFrame()
pre['Actual'] = y_test
pre['Predicted'] = y_pred
pre.head()

   Actual  Predicted
0       1          1
1       3          3
2       1          1
3       5          5
4       0          0

<h3>Now, finding the mis-matched value and accuracy</h3>

In [55]:
mislabeled = np.sum(y_test!=y_pred)
print("Total number of mislabelled data points from {} test samples is {}".format(len(y_test),mislabeled))

Total number of mislabelled data points from 540 test samples is 23

In [59]:
from sklearn.metrics import confusion_matrix,accuracy_score
print('The accuracy of the model is',accuracy_score(y_test,y_pred))
print()
cm = confusion_matrix(y_test,y_pred)
cmdf = pd.DataFrame(cm, index=digit.target_names,columns=digit.target_names)
print(cmdf)

The accuracy of the model is 0.9574074074074074

    0   1   2   3   4   5   6   7   8   9
0  53   0   0   0   1   0   0   0   0   0
1   0  50   0   1   1   0   0   0   2   1
2   0   1  52   0   0   0   0   0   0   0
3   0   0   0  54   0   0   0   0   1   0
4   0   0   0   0  53   0   0   0   1   0
5   0   0   0   0   0  54   0   0   0   1
6   0   0   0   0   0   0  53   0   1   0
7   0   0   0   0   1   0   0  53   0   0
8   0   4   0   0   0   2   1   0  45   0
9   0   0   0   0   0   0   0   1   3  50