Question 1:
--
Anova

Three archers – Pat, Jack, and Alex are participating in an archery contest. They are shooting at
targets with 10 evenly spaced concentric rings. The rings have score values from 1 through 10
assigned to them, with 10 being the highest. Each participant shoots 6 arrow, scoring the
following points:

Pat – 5, 4, 4, 3, 9, 4

Jack – 4, 8, 7, 5, 1, 5

Alex – 9, 9, 8, 10, 4, 10

Based on the above results we would like to know who the best archer is. In other words our null
hypothesis is that the means of all populations are equal.

In [1]:
import pandas as pd

In [2]:
Pat = [5, 4, 4, 3, 9, 4]
jack = [4, 8, 7, 5, 1, 5]
Alex = [9, 9, 8, 10, 4, 10]

In [6]:
all_shoots = Pat + jack + Alex
shoot_name = (['Pat']*len(Pat) ) + ( ['jack']*len(jack) ) + ( ['Alex']*len(Alex))

In [7]:
data = pd.DataFrame({'shoot':shoot_name , 'score':all_shoots})

In [8]:
data

   shoot  score
0    Pat      5
1    Pat      4
2    Pat      4
3    Pat      3
4    Pat      9
5    Pat      4
6   jack      4
7   jack      8
8   jack      7
9   jack      5
10  jack      1
11  jack      5
12  Alex      9
13  Alex      9
14  Alex      8
15  Alex     10
16  Alex      4
17  Alex     10

In [9]:
data.groupby('shoot').mean()

          score
shoot
Alex   8.333333
Pat    4.833333
jack   5.000000

In [10]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [11]:
lm = ols('score ~ shoot', data = data).fit()
table = sm.stats.anova_lm(lm)
print(table)

            df     sum_sq    mean_sq         F    PR(>F)
shoot      2.0  46.777778  23.388889  4.488273  0.029668
Residual  15.0  78.166667   5.211111       NaN       NaN

As the P-value is less than 0.05 that means we reject the null hypothesis that all the mean values are same.
--
The best archer would be Alex from the mean values.