Question 1 :
--
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [1]:
s = input()
a = s.find('@')
d = s.find('.')
if a != -1 and d != -1:
    print(s[a+1:d])
else:
    print("Invalid Email address")

john@google.com
google

Question 2 :
--
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world

Output:
bag,hello,without,world

In [2]:
ip = list(input().split(','))
ip = sorted(ip)
for i in range(0,len(ip)):
    print(ip[i],end=',')

without,hello,bag,world
bag,hello,without,world,

Question 3:
--
Create your own Jupyter Notebook for Sets. Reference link:

Sets
--
In python sets are created using '{}' eg:- s = {1,2,3}

Sets is a collection which is Unordered( i.e the values stored inside the sets is not the same as the order we  passed.) and Unindexed. 

sets does not allow duplicate values to store inside it.

Sets are immutable.

All the operations which we know on sets form our school time can be performed on sets in python. Such as Union, intersection ...

In [3]:
'''We can check weather a variable is present inside a set or not'''
s = {1,2,3,4}         # Creating a variable of type sets
print(3 in s)       # Checking weather a value is present inside a variable or not
print(4 in s)       # Checking weather a value is present inside a variable or not

True
True

In [4]:
'''Checking Weather sets are immutable or not . '''

s = {1,2,3,4}
s[0] = 5
s

TypeError: 'set' object does not support item assignment

The adove code provides evidence that sets are immutable.

Adding values to sets
--

In [5]:
print('Before adding ',s)
s.add(5)                                 # Adding value Using add method
print('After adding ',s) 
s.update([6,7,8])                        # Adding multiple values using update method
print('Update values ',s)

Before adding  {1, 2, 3, 4}
After adding  {1, 2, 3, 4, 5}
Update values  {1, 2, 3, 4, 5, 6, 7, 8}

Removing Value from the sets
--

In [6]:
s.pop()    # Used to remove the last value in sets it is not recommended as we don't know in which order the values are stored
print(s)
s.remove(6)  # Used to remove the specified value if the item is not in the sets then it will throw an error.
print(s)
s.discard(5)  # Used to remove the specified value if the item not in the sets it will not throw an error.
print(s)

{2, 3, 4, 5, 6, 7, 8}
{2, 3, 4, 5, 7, 8}
{2, 3, 4, 7, 8}

Union on sets
--

In [7]:
s2 = {9,10,11}
s3 = s.union(s2)           # It will create a sets which include all the elements of s and s2 without any duplicates.
print(s3)

{2, 3, 4, 7, 8, 9, 10, 11}

Intersection on sets
--

In [8]:
s4 = {2,3,4,18}
s5 = s.intersection(s4)     # It will create a sets which include all the common elements of s and s4.
print(s5)

{2, 3, 4}

Copy in sets
--

In [9]:
s6 = s5.copy()               # It will copy the values in s5 to s6
print(s6)

{2, 3, 4}

Clear in sets
--

In [10]:
s5.clear()                    # used to clear the sets
print(s5)

set()

To check subset in sets
--

In [11]:
s6.issubset(s)         # Here we check weather the values of s6 are present in s are not

True

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number.

Example:

Input:
1 2 4 6 3 7 8

Output:
5

Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [12]:
ip = list(map(int,input().split()))
ip.sort()
v = 0
for i in range(1,len(ip)+2):
    if i not in ip:
        print(i)
        break

1 2 4 6 3 7 8
5

Question 5:
--
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.

Example:
If the input list is
12 24 35 24 88 120 155 88 120 155

Then the output should be
12 24 35 88 120 155

Explanation:

Third, the seventh and ninth element of the list L has been removed because it was already present.

Input Format:

In one line take the elements of the list L with each element separated by a space.

Output Format:

Print the elements of the modified list in one line with each element separated by a space.

Example:

Input:
12 24 35 24

Output:
12 24 35

In [13]:
l = list(map(int,input().split()))
l = list(set(l))
l.sort()
for i in l:
    print(i,end=' ')

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155