# Use User Dataset find the accuracy using SVM Model

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\VIVEK\OneDrive\Desktop\AI-ML\CSV files\User_Data.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.shape

(400, 5)

In [4]:
x = df.iloc[:,2:4]
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [5]:
y = df.iloc[:,-1]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=1)

In [7]:
from sklearn.svm import SVC
classifier = SVC(kernel='linear')

In [8]:
classifier.fit(xtrain,ytrain)

SVC(kernel='linear')

In [9]:
ypred = classifier.predict(xtest)

In [10]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print()
print('Confusion Matrix:')
print()
print(confusion_matrix(ytest,ypred))
print()
print()
print('Classification Report:')
print()
print(classification_report(ytest,ypred))
print()
print('The Accuracy Score is:',accuracy_score(ytest,ypred)*100)

Confusion Matrix:

[[42  6]
 [ 7 25]]


Classification Report:

              precision    recall  f1-score   support

           0       0.86      0.88      0.87        48
           1       0.81      0.78      0.79        32

    accuracy                           0.84        80
   macro avg       0.83      0.83      0.83        80
weighted avg       0.84      0.84      0.84        80


The Accuracy Score is: 83.75